src/main/mule/dw.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2ce0262c-17b1-4d31-bcc9-42f357efc784" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwFlow" doc:id="c9fce9d0-0991-4289-93b7-adad2ee341c8" >
		<http:listener doc:name="Listener" doc:id="c0d1754f-5b80-440f-baea-777fd8eac50e" config-ref="HTTP_Listener_config" path="/punny"/>
		<set-payload value='#["welcome to punny yt"]' doc:name="Set Payload" doc:id="d8e13397-c21f-4ed6-9dcb-1f18f05eacd5" />
		<set-variable value='#[output appliccation/json&#10;---&#10;{&#10;	message:Mule::lookup("dwFlow1",  payload),&#10;	status:"success"&#10;}]' doc:name="Set Variable" doc:id="46e7af98-c885-42fd-a6ee-872ce6e2995b" variableName="mule"/>
		<set-payload value="#[vars.mule]" doc:name="Set Payload" doc:id="93740574-a2c0-4d60-b260-205f6c54556b" />
	</flow>
	<flow name="dwFlow1" doc:id="6c98ef9a-74d2-476a-bd92-360a9e70ce9f" >
		<ee:transform doc:name="Transform Message" doc:id="36b0d60d-7612-485c-9415-6da277e71b75" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++"-"++ "how are you"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
